<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="status-card">
        <div class="d-flex mb-4 align-items-center">
          <input
            type="text"
            class="input-search"
            [(ngModel)]="searchNumero"
            (keyup)="searchCandidato()"
            placeholder="Buscar por número"
          />
          <a class="btn btn-success ms-auto" href="admin/candidatos/new"> <i class="fas fa-user-plus"></i> 
            Cadastrar
          </a>
        </div>

        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Função</th>
                <th scope="col">Número</th>
                <th scope="col">CPF</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <!-- Loop para candidatos -->
              @for (candidato of lista; track $index) {
                <tr>
                  <td><i class="fas fa-user icon"></i> {{ candidato.nome }}</td>
                  <td>{{ candidato.funcao === 1 ? 'Prefeito' : candidato.funcao === 2 ? 'Vereador' : 'Desconhecido' }}</td>
                  <td>{{ candidato.numero }}</td>
                  <td>{{ candidato.cpf }}</td>
                  <td>{{ candidato.status }}</td>
                  <td class="buttons-td">
                    <a href="admin/eleitores/edit/{{candidato.id}}" class="btn btn-edit"><i class="fas fa-user-pen"></i></a>
                    <a (click)="deleteById(candidato)" class="btn btn-disable"><i class="fas fa-user-slash"></i></a>
                </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
