<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="right-aligned">
                        <a href="admin/eleitores/new" class="btn btn-novo">Cadastrar</a>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (eleitor of lista; track $index) {
                                    <tr>
                                    <td>{{eleitor.nomeCompleto}}</td>
                                    <td>{{eleitor.cpf}}</td>
                                    <td>{{eleitor.email}}</td>
                                    <td>{{eleitor.status}}</td>
                                    <td class="buttons-td">
                                        <a href="admin/eleitores/edit/{{eleitor.id}}" class="btn btn-primary">Editar</a>
                                        <a (click)="deleteById(eleitor)" class="btn btn-danger">Excluir</a>
                                    </td>
                                </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>