.container {
 /* Cor de fundo do container */
  margin: 2vh auto; /* Centraliza o container com margem em cima e embaixo */
  padding: 0px; /* Espaçamento interno do container */
  border-radius: 12px; /* Bordas arredondadas */
 /* Sombra suave */
}

