

.card-cpf{
  top: 8vh;
  background-color: #a3d2d5;
  min-height: 50vh;
}

.form-label{
  margin: 4vh;
  color: #185b60;
  font-size: 24px;
  font-family:  'Lucida Sans Unicode';
  letter-spacing: 0.5em;
}

.form-control{
  margin-top: 4vh;
  max-width: 25vw;
  height: 6vh;
  margin-left: 50%;
  transform: translateX(-50%);
}

.btn-cpf{
  margin-top: 5vh;
  background-color: #e3b566;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
}
.btn-cpf:hover{
  background-color: #e39966;
}

.card-body{
    padding: 10px;
}
.urna {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 12vw);
  grid-gap: 10px;
  margin-top: 10px;
}

btn-urna {
  padding: 30px;
  font-size: 18px;
  cursor: pointer;
}

.urna-screen {
  width: 36vw;
  height: 12vh;
  border: none;
  background-color: #757575;
  color: #fff;
  text-align: right;
  font-size: 4rem;
}

.title-container{
    height: 5vh;
    padding: 1vh 0vw 0vh 4vw;
}

.title{
    font-size: 28px;
}