<div class="container">
  <div class="row">
    <div class="col-7"></div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
        
<a href="">Login</a>

<form>
  <!-- Usuario input -->
  <mdb-form-control class="mb-4">
    <input mdbInput type="email" id="form1Example1" class="form-control" />
    <label mdbLabel class="form-label" for="form1Example1">Usuario</label>
  </mdb-form-control>

  <!-- senha input -->
  <mdb-form-control class="mb-4">
    <input mdbInput type="password" id="form1Example2" class="form-control" />
    <label mdbLabel class="form-label" for="form1Example2">senha</label>
  </mdb-form-control>

  <div class="row mb-4">
   
    <div class="col">
    
    </div>
  </div>

  <!-- Submit button -->
  <button mdbRipple type="button" class="btn btn-primary btn-block">Entrar</button>

</form>
          
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
