<div class="container-externa">
  <!-- Seção da imagem -->
  <div class="image-section">
    <img src="" alt="Ilustração de cadastro" class="side-image" />
    <h2 class="form-title">Cadastro de Candidatos</h2>
  </div>

  <!-- Seção do formulário -->
  <div class="container form-section-right">
    <div class="form-section">
      <h2>{{ tituloComponente }}</h2>
      <form (ngSubmit)="candidato.id ? update() : save()" class="form-candidato">

        <!-- Campo Nome -->
        <mdb-form-control class="mb-4">
          <input mdbInput type="text" id="nome" [(ngModel)]="candidato.nome" name="nome" class="form-control" required />
          <label mdbLabel class="form-label" for="nome">Nome</label>
        </mdb-form-control>

        <!-- Campo Número -->
        <mdb-form-control class="mb-4">
          <input mdbInput type="number" id="numero" [(ngModel)]="candidato.numero" name="numero" class="form-control" required />
          <label mdbLabel class="form-label" for="numero">Número</label>
        </mdb-form-control>

        <!-- Campo CPF -->
        <mdb-form-control class="mb-4">
          <input mdbInput type="text" id="cpf" [(ngModel)]="candidato.cpf" name="cpf" class="form-control" required />
          <label mdbLabel class="form-label" for="cpf">CPF</label>
        </mdb-form-control>

        <!-- Cargo (Função) como Botões -->
        <div class="form-group mb-4">
          <div class="btn-group btn-group-toggle no-radio-buttons">
            <label class="btn btn-select" [class.active]="candidato.funcao === 1">
              <input type="radio" [(ngModel)]="candidato.funcao" name="funcao" [value]="1" required> Prefeito
            </label>
            <label class="btn btn-select" [class.active]="candidato.funcao === 2">
              <input type="radio" [(ngModel)]="candidato.funcao" name="funcao" [value]="2" required> Vereador
            </label>
          </div>
        </div>

        <!-- Status como Botões (Ativo/Inativo) -->
        <div class="form-group mb-4">
          <label>Status :  </label>
          <div class="btn-group btn-group-toggle no-radio-buttons">
            <label class="btn btn-select" [class.active]="candidato.status === 'ATIVO'">
              <input type="radio" [(ngModel)]="candidato.status" name="status" [value]="'ATIVO'" required> Ativo
            </label>
          </div>
        </div>

        <!-- Botões de Salvar e Cancelar -->
        <div class="d-flex justify-content-between">
          <a routerLink="admin/candidatos" class="btn btn-secondary">Cancelar</a>
          <button mdbRipple type="submit" class="btn btn-primary">
            {{ candidato.id ? 'Atualizar' : 'Adicionar' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
