.container-externa {
  display: flex;
  height: 90vh; 
  justify-content: center;
  align-items: center;
  padding: 0 90px;
}

.container {
  width: 90%;
  height: 80%; 
  display: flex;
  box-shadow: none;
  border-radius: 10px;
  background-color: #fff;
  align-items: stretch;
}

.image-section, .form-section-right {
  flex-basis: 50%; 
  flex-grow: 1;    
  flex-shrink: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
}

.image-section {
  background-color: #e6f2fa;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-section-right {
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.side-image {
  max-width: 80%;  
  height: auto;
  margin-bottom: 20px;
}

.form-title, .form-section h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2a4d69;
  text-align: center;
}

.mdb-form-control {
  width: 80%;
  margin-bottom: 15px;
}

.mdb-form-control input {
  border-radius: 10px;
  border: 2px solid #d0e6f6;
  padding: 10px;
  width: 100%;
}

.mdb-form-control label {
  font-weight: bold;
  color: #333;
}

.btn-select {
  background-color: transparent;
  color: #2a4d69;
  border: 2px solid #2a4d69;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.btn-select input[type="radio"] {
  display: none;
}

.btn-select.active {
  background-color: #2a4d69;
  color: white;
}

.btn-select:hover {
  background-color: #2a4d69;
  color: white;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

.btn-primary {
  background-color: #2a4d69;
  border-color: #2a4d69;

  padding: 10px 20px;
}
.btn-success{
  background-color: #2a4d69;

}