<div class="container-externa">

    <div class="image-section">
        <img src="assets/bunnies.gif" alt="Ilustração de cadastro" class="side-image" />
        <h2 class="form-title">Cadastro de Eleitores</h2>
    </div>

    <div class="container form-section-right">
        <div class="form-section">
            <h2>{{ titleComponent }}</h2>
            <form #formEleitor="ngForm">
                <mdb-form-control>
                    <input [(ngModel)]="eleitor.nomeCompleto" required mdbInput type="text" name="nome"
                        class="form-control" />
                    <label mdbLabel class="form-label" for="nome">Nome Completo</label>
                </mdb-form-control>
                <mdb-form-control>
                    <input [(ngModel)]="eleitor.cpf" mdbInput type="text" name="cpf" class="form-control"
                        pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" />
                    <label mdbLabel class="form-label" for="cpf">CPF</label>
                </mdb-form-control>
                <mdb-form-control>
                    <input [(ngModel)]="eleitor.profissao" required mdbInput type="text" name="profissao"
                        class="form-control" />
                    <label mdbLabel class="form-label" for="profissao">Profissão</label>
                </mdb-form-control>
                <mdb-form-control>
                    <input [(ngModel)]="eleitor.celular" required mdbInput type="text" name="celular"
                        class="form-control" pattern="\(?\d{2}\)?\s?\d{5}-?\d{4}" />
                    <label mdbLabel class="form-label" for="celular">Celular</label>
                </mdb-form-control>
                <mdb-form-control>
                    <input [(ngModel)]="eleitor.telefone" mdbInput type="text" name="telefone" class="form-control"
                        pattern="\(?\d{2}\)?\s?\d{4}-?\d{4}" />
                    <label mdbLabel class="form-label" for="telefone">Telefone</label>
                </mdb-form-control>
                <mdb-form-control>
                    <input [(ngModel)]="eleitor.email" mdbInput type="email" name="email" class="form-control" />
                    <label mdbLabel class="form-label" for="email">Email</label>
                </mdb-form-control>

                <div class="center-aligned">

                    @if (eleitor.id == 0) {
                    <button [disabled]="!formEleitor.valid" class="btn btn-success" (click)="save()">Salvar</button>
                    } @else {
                    <button [disabled]="!formEleitor.valid" class="btn btn-success"
                        (click)="update()">Atualizar</button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>